
body {
	background-color:#ffffff;
	text-align:center;
}

#page {
	width:900px;
  height:1100px;
  margin:0 auto;
	text-align:left;
	background-color:#ffffff;
}

h1{
	width: 900px;
	height: 45px;
  float:left;
  font-size:50px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  margin: auto;
}
.under_h1{
  width:900px;
  height:90px;
}
.moji{
  float:left;
  font-size:15px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
}

#boder{
  width: 900px;
	height: 220px;
  border-style: solid;
  border-width: 1px;
  padding: 10px 10px;
}

h2{
	width: 900px;
	height: 10px;
  float:left;
  font-size:25px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  margin: auto;
}
.under_h2{
  width:900px;
  height:220px;
}
.h2moji{
  float:left;
  font-size:25px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
}

.blank{
  width: 900px;
	height: 30px;
}

#topimage1{
  width:950px;
  height:230px;
  margin: 0px 0px;
  padding: 0px 0px;
}
#topimage2{
  width:950px;
  height:230px;
  margin: 0px 0px;
  padding: 0px 0px;
}

#topimage3{
  width:950px;
  height:250px;
  margin: 0px 0px;
  padding: 0px 0px;
}
.image{
  float:left;
  width:290px;
  height:230px;
  margin: 0px 4px;
}


#footer{
  width:900px;
  height:200px;
  margin: 0px 0px;
}

.figure {
	float:left;
	width:300px;
  height:250px;
	position: relative;
	overflow: hidden;
}

.figcaption {
  float:left;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 95%;
	margin: 0px 4px;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;

}
.figure:hover .figcaption {
	opacity: 0.8;
}

.figcaption2 {
  float:left;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	margin: 15px 4px;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;

}
.figure:hover .figcaption2 {
	opacity: 0.8;
}
