
body {
	background-color:#ffffff;
	text-align:center;
	float: center;
}

#page {
	width:900px;
  height:900px;
  margin:0 auto;
	text-align:left;
	background-color:#ffffff;
}

.back{
	 float: left;
	 background: #01DF74;
	 border: 1px solid #DDD;
	 color: white;
	 width: 150px;
	 font-size:25px;
	 font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
	 padding: 10px 0;
	 text-align: center;
	 text-decoration: none;
}

h1{
	width: 900px;
	height: 70px;
  float:left;
  font-size:50px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  margin: auto;
}
.moji{
  float:left;
  font-size:15px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
}

.border{
	float:left;
  width: 878px;
	height: 1200px;
  border-style: solid;
	border-color: #01DF74;
  border-width: 6px;
  padding: 10px 10px;
}

h2{
	width: 878px;
	height:25px;
  float:left;
  font-size:30px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  margin: 0 auto;
	text-align: center;
	padding: 10px 0px;
	background-color: #01DF74;
	}
.under_h2{
	float:left;
  width:880px;
  height:220px;
}
.h2moji{
  float:left;
  font-size:25px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
	line-height: 150%
}

.lmokuji{
  float:left;
  width:439px;
  height:400px;
  background-color: none;
}

.lmokuji p{
	float:left;
  font-size:25px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
}

.rmokuji{
  float:left;
  width:439px;
  height:400px;
  background-color: none;
}

.rmokuji img{
  float:right;
  width:360px;
  height:240px;
  background-color: none;
	margin: 30px 30px;
}
.image{
  width:290px;
  height:220px;
	margin:0 auto;
}

#footer{
	float: left;
  width:900px;
  height:200px;
  margin:0 auto;
}
